.img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.selectedPage {
    color:blue;
    cursor: pointer;
    background-color: cornflowerblue;
    
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.pagination button {
    color:rgb(233, 108, 25);
    background-color: darkgreen;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    
}


 
.usersTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    color:green;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 10px;
    
}

.usersElementsPositions {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100px;
    margin-left: 20px;
    margin-top: 5px;
    
}

.usersContainer {
    display: flex;
    
}
.usersContainer button{
    display: flex;
    align-items: baseline;
   color:rgb(233, 108, 25);
   background-color: darkgreen;
   outline: none;
   
}
