.posts{
    /* color:blue; */
    display: flex;
}

.posts img {
    width: 70px;
    height:70px;
    border-radius: 40%;
}

.postsLike {
  margin-left: 10px;
  margin: 5px;
  color:red;
  font-size: 19px;
  display: flex;
  /* width: 400px; */
  justify-content:flex-end;
  
}
.postContent {
    
    font-size: 17px;
    border:1px solid turquoise;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    margin-top: 5px;
    background-color: white;
    max-width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border-radius: 10px;
   

}