.wrapper {
  display: grid;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 3fr 8fr;
  grid-gap: 10px;
  margin-top: 15px;
  
}
@media only screen and (max-width: 414px) {
    .wrapper {Width:100%!important;}
    body {
      
    }
    /* .deviceWidth {width:280px!important; padding:0;}	 */
    /* .center {text-align: center!important;} */
}


.wrapperContent {
  background-color:whitesmoke;
  grid-area: c;
}